third_party/vosk/lib/macos-universal2/libvosk.dyld filter=lfs diff=lfs merge=lfs -text
third_party/vosk/lib/linux-x86_64/libvosk.so filter=lfs diff=lfs merge=lfs -text
third_party/vosk/model/*.zip filter=lfs diff=lfs merge=lfs -text
